*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
}


.tableUser{
    position:relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.containerList{
    width: 35rem;
    height: 90vh;
    top: 50%;
    transform: translate(0, -50%);
    border: .5px solid rgb(165, 250, 243);
    position: relative;
    z-index: 10;
}

.singOff{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    width: 60%;
    transform: translate(-50%);
    border: .5px solid rgb(121, 255, 244);
    cursor: pointer;
}

.singOff P{
    text-align: center;
    color: white;
    font-size: 3.2rem;
    padding: .5rem;
}

.singOff:hover{
    color:#00ffd5;
    background-color: #00000091;
    transition: all .1s ease-in-out;
    box-shadow: 0 0 5px #03e8f4a2, 0 0 10px #03f4d48c, 0 0 20px #03f4e88a, 0 0 80px #03f4e041;
}


.listUser{
    color: white;
    font-size: 3.5rem;
    list-style: none;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 4rem;
    z-index: 100;
}

.listUser li{
    cursor: pointer;
    text-align: center;
    letter-spacing: -2px;
    padding: 0 2rem;
}

.listUser li:hover {
    color:#00ffd5;
    background-color: #00000091;
    transition: all .1s ease-in-out;
    box-shadow: 0 0 5px #03e8f4cc, 0 0 15px #03f4d4da, 0 0 40px #03f4e8c7, 0 0 80px #03f4e041;
}


/* container derecha */

.containerView{
    width: 81.8vw;
    height: 90vh;
    top: 5%;
    border: .5px solid rgb(165, 250, 243);
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.noCharacters h1{
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 100%;
    padding: 0 10rem;
    font-size: 5rem;
    transform: translate(-50%, -50%);
  }



         /* cuenta (password email) */

  .bill{
      position: relative;
      top: 3%;
      left: 3%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      row-gap: 1rem;
  }
  
  .emailUser p{
    font-size: 3rem;
    letter-spacing: -5px;
    color: white;

  }
  
  .passwordUser p{
    font-size: 3rem;
    letter-spacing: -6px;
    color: white;
    text-transform: none !important;

  }
  
