.container1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 10;
    margin-top: 10rem;
}

.container1 video{
    width: 90vw;
    cursor: pointer;
    filter: contrast(150%) brightness(100%) hue-rotate(59deg);
    object-fit: cover;
}



.middle {
    margin-top: 20rem;
    width: 70%;
    position: relative;
    text-align: center;
    margin-top: 20rem;
  }
  
  .text {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 5rem;
    text-align: center;
    letter-spacing: -6px;
  }
  
  .text::before,
  .text::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .text::before {
    color: #000000;
    animation: glitch-effect 3s infinite;
  }
  
  .text::after {
    color: #00ffd5;
    animation: glitch-effect 2s infinite;
  }
  
  @keyframes glitch-effect {
    0% {
      left: -2px;
      top: -2px;
    }
    25% {
      left: 2px;
      top: 0;
    }
    50% {
      left: -1px;
      top: 2px;
    }
    75% {
      left: 1px;
      top: -1px;
    }
    100% {
      left: 0;
      top: -2px;
    }
  }

.textPresent{
    margin-top: 8rem;
    width: 70%;
    position: relative;
    text-align: center;
}

.textPresent p{
    font-size: 3.2rem;
    letter-spacing: -6px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 5rem;
}



.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	bottom: -30rem;
}

.arrows path {
	stroke: #05fad9;
	fill: transparent;
	stroke-width: 3px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}



@media screen and (max-width:1440px) {

    .container1 video{
        width: 95vw;
        cursor: pointer;
        filter: contrast(150%) brightness(100%) hue-rotate(59deg);
        object-fit: cover;
    }
    

    .textPresent p{
        font-size: 2.8rem;
        letter-spacing: -5px;
        color: white;
        font-weight: bold;
        text-align: center;
        line-height: 5rem;
    }
    
    .textPresent{
        margin-top: 30rem;
        width: 80%;
        position: relative;
        text-align: center;
    }
}

@media screen and (max-width:480px) {


    .textPresent p{
        font-size: 2rem;
        letter-spacing: -5px;
        color: white;
        font-weight: bold;
        text-align: center;
        line-height: 3rem;
    }
    
    .textPresent{
        margin-top: 20rem;
        width: 80%;
        position: relative;
        text-align: center;
    }
}