* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  user-select: none;
  font-family:aileron;
}

@font-face {
  font-family: 'aileron';
  src: url('./fonts/Ailerons-Typeface.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tt1';
  src: url('./fonts/NeueHaasDisplayRoman.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tt2';
  src: url('./fonts//NeueHaasDisplayThin.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  background-color: #000000;
}

::-webkit-scrollbar {
  width: 5px;
  border: 3px solid rgb(7, 7, 7);
  background-position: top;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #02fcdb;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #02fcdbe1;
}
::-webkit-scrollbar-thumb:active {
  background: #02fcdbd2;
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/* container principal */
main {
  overflow: hidden;
}
.main{
  background-color: rgb(0, 0, 0);
}


/* FILTRO PELICULA */
.container{
  position: absolute;
  width: 67.5%;
  height: 100vh;
  z-index: 150;
  background-color: #ffffff5d;
  opacity: .08;

}



/* CONTAINER 1  */


.containerVideoAlien{
  position: relative;
  width: 100vw;
  height: 100vh;
  filter: drop-shadow(0 0 10px black);
  z-index: 100;
}

.containerVideoAlien video{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  right: 0%;
  object-fit: cover;
  z-index: 100;
  filter:  contrast(120%) brightness(90%) hue-rotate(40deg);
}

.containerVideoAlien::after{
  content: "";
  position: absolute;
  bottom: -6vw;
  background-color: #000000;
  background: #000000;
  height: 15vh;
  filter: blur(2rem);
  width: 100vw;
  z-index: 100;

}

/* container 1 title */

.containerTitle{
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 200;
}

.lineHorizontal{
  width: 100%;
  height: 1px;
  font-size: 2rem;
  position: absolute;
  top: 45%;
  border-color: rgba(190, 190, 190, 0.041);
}

.lineVertical{
  width: 1px;
  height: 94vh;
  position: absolute;
  top: 0%;
  left: 45%;
  transform: translate(-50%);
  border-color: rgba(190, 190, 190, 0.062);

}

.titleButtons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4rem;
  position: relative;
  height: 100vh;
  padding-bottom: 28rem;
  margin-right: 43%;
}

.title p{
  font-size: 12rem;
  color: white;
  top: 25%;
  width: 100%;
  letter-spacing: -2px;
  animation: titleAnim 4s linear infinite;
    text-shadow: 0 0 5px #03e8f4cc, 0 0 25px #03f4d4da, 0 0 50px #03f4e8c7, 0 0 200px #03f4e041;
  -webkit-box-reflect: below -10px linear-gradient(transparent, rgba(2, 2, 2, 0.027));
}

@keyframes titleAnim {
  0%{
    text-shadow:none;

  }
  
  50%{
    text-shadow: 0 0 3rem rgb(134, 134, 134);
  }

  100%{
    text-shadow: none;
  }
}

.buttonPlay{
  position: relative;
  font-size: 3.6rem;
  text-align: center;
  cursor: pointer;
  color: #bdffeefd;
  width: 14rem;
  padding: 1rem;
  text-shadow: 0 0 .1rem rgb(0, 255, 204);
  z-index: 200 ;
}

.buttonPlay .buttonBuy:hover {
  background: #32f2fcf6;
  color: #050801;
  border-radius: 15%;
  box-shadow: 0 0 5px #02fcd2bd, 0 0 25px #03f4d4d5, 0 0 50px #03f4e8, 0 0 150px #03f4e0;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.096));
}


.buttonPlay .buttonBuy:active{
  font-size: 3.4rem;
}







/* container 2 */

.container2{
  position: relative;
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  font-size: 6rem;
  text-align: center;
  color: wheat;
  overflow: hidden;
}


.container2-pasillo{
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all .05s ease-in-out;
  z-index: 2;
  opacity:1;
  transform: scale(3);
}

.container2-pasillo img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter:hue-rotate(310deg) contrast(106%) brightness(140%);
}

.container2-character{
  opacity: 0;
  position: relative;
  width: 100vw;
  height: 110vh;
  transition: all .05s ease-in-out;
  z-index: 2;
  transform: scale(1);
}

.container2Background img{ 
  width: 100vw;
  height: 106vh;
  /* object-fit: cover;   --> aplicar responsive */
  filter:hue-rotate(310deg) contrast(110%) brightness(130%);
}



/* Slider Characters */
.container2-slider{
  opacity: 0;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  top: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  user-select: none;
}

.wrapper .slider {
  display: flex;
  position: absolute;
  left: 0;
  transform: translateX(0);
  will-change: transform;
}

.wrapper .slider .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  transform: translateY(0) rotate(0);

}
.wrapper .slider .slide img {
  background-color: #00000000;
  object-fit: cover;
}

.wrapper .buttons {
  z-index: 1;
  
  
}
.wrapper .buttons .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  cursor: pointer;
  font-size: 3rem;
  color: #02fcdb;
  background-color: #0000003d;
  box-shadow: 0 0 1rem #64ffeade;
  border: none;
  border-radius: 15px;
  transition: all .4s ease-in-out;
  margin:0 4rem;
}

.arrow {
  font-weight: bold;
  font-size:8rem;
  padding: .5rem 1rem; 
  transition: all .4s ease-in-out;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}


.arrow:hover {
  color: #02fcdb;
  box-shadow: 0 0 5px #03e8f4cc, 0 0 25px #03f4d4da, 0 0 50px #03f4e8c7, 0 0 200px #03f4e041;
  border-radius: 15px;
  transition: all .4s ease-in-out;
}


.arrow:active {
  font-size: 7.7rem;
}

.wrapper .buttons .button--prev {
  left: 0.5rem;

}
.wrapper .buttons .button--next {
  right: 0.5rem;
}
@keyframes motion-blur {
  0% {
    filter: blur(10px);
 }
  15% {
    filter: blur(10px);
    
 }
  30% {
    filter: blur(10px);
    
 }
  45% {
    filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.651);
    
 }
  60% {
    filter: blur(10px);
   
 }
  75%, 100% {
    opacity: 0;
    filter: blur(10px);


 }
}

/* characters */


.character1 img{
  width:17vw;
  margin-top: 21.5rem;
  filter: drop-shadow(8px 0px 3px rgba(14, 14, 14, 0.726)) contrast(119%) brightness(100%);
}

.character2 img{
  width: 37vw;
  margin-top: 22rem;
  filter: drop-shadow(0px 0px 8px rgb(0, 0, 0)) contrast(120%) brightness(95%);
  margin-left: 0rem;
}

.character3 img{
  width: 37vw;
  margin-left: 2rem;
  margin-top: 22rem;
  filter: drop-shadow(0px 0px 8px rgb(0, 0, 0))  contrast(125%) brightness(80%);
}

.character4 img{
  width: 38vw;
  margin-left: -2rem;
  margin-top: 23rem;
  filter: drop-shadow(0px 0px 8px rgb(0, 0, 0))  contrast(125%) brightness(95%);
}
.character5 img{
  width: 24.5vw;
  margin-top: 23.5rem;
  filter:drop-shadow(0px 0px 8px rgb(0, 0, 0)) contrast(120%) brightness(105%);
}
.character6 img{
  width: 11.5vw;
  margin-top: 23.5rem;
  filter:drop-shadow(-8px 0px 8px rgb(0, 0, 0)) contrast(113%) brightness(125%);
  margin-left: 1rem;
}
.character7 img{
  width: 37.5vw;
  margin-top: 22rem;
  filter: drop-shadow(8px 0px 3px rgba(14, 14, 14, 0.726)) contrast(110%) brightness(170%);
  margin-left: 1rem;
}
.character8 img{
  width: 29vw;
  margin-top: 22rem;
  filter:drop-shadow(-8px 0px 8px rgb(0, 0, 0)) contrast(112%) brightness(105%);
}



/* STATS */

.container2-character::after{
  content: " ";
  position: absolute;
  width: 100vw;
  left: 0;
  height: 10rem;
  bottom: .2rem;
  background-color: rgba(0, 0, 0, 0.911);
  filter: blur(20px);

}


.stats{
  position: absolute;
  display: flex;
  top: 45%;
  left: 72%;
  transform: translate(-35%);
  justify-content: center;
  align-items: center;
  flex: row;
  flex-wrap: wrap;
  width: 12%;
  gap: 3rem;
  transition: all .5s ease-in-out;
  z-index: 1;
}

.ss{
  border: 3px outset #979797;
  filter: drop-shadow(0 0 8px rgb(0, 0, 0)) ;
  border-radius: 100rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.425);
  width: 10rem;
  height: 10rem;
  position: relative;
  cursor: pointer;
  transition: all .5s ease-in-out;
  animation: statsAnimate 4s linear infinite;
  box-shadow: 0 0 1rem rgb(0, 255, 221);

}

.valor{
  position: absolute;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
  text-shadow: 0 0 .2rem rgb(2, 255, 234);
  font-weight: bold;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  transition: all .5s ease-in-out;

}


.precio{
  box-shadow: 0 0 .6rem rgb(0, 255, 221);
  filter: drop-shadow(0 0 8px rgb(0, 0, 0)) ;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.425);
  position: relative;
  cursor: pointer;
  transition: all .5s ease-in-out;
  position: absolute;
  border: 5px groove #7c7e7d33;
  top: 50%;
  left: 30%;
  border-radius: 100%;
  height: 12rem;
  width: 12rem;
  text-align: center;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px #03e8f4cc, 0 0 20px #03f4d4da, 0 0 40px #03f4e8c7, 0 0 100px #03f4e041;
}



.valorPrecio{
  font-size: 3rem;
  color: #ffffff;
  text-shadow: 0 0 .2rem rgb(2, 255, 234);
  font-weight: bold;
  transition: all .5s ease-in-out;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  transition: all .5s ease-in-out;
  text-align: center;
}

.precio:hover {
  border: 4px groove rgb(0, 255, 242);
  filter: drop-shadow(0 0 3px rgb(0, 255, 213)) ;
  transition: all .5s ease-in-out;
}

.precio:hover > .valorPrecio{
    color: rgba(0, 0, 0, 0.863);
    font-weight: bold;
    font-size: 3.3rem;
    filter: drop-shadow(0 0 1px rgb(172, 255, 216)) ;
    transition: all .5s ease-in-out;
  
  }

/* info stats */

/* hp */

.statsHP{
  position: absolute;
  right: 4.5rem;
  top: 6.5rem;
  opacity: 0;
  transition: all .5s ease-in-out;
  border: 4px groove rgb(137, 252, 194);
  width: 25rem;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.815);
  display: none;
  transition: all .5s ease-in-out;

}

.statsHP p{
  font-size: 1.8rem;
  text-align: inherit;
  width: 100%;
  height: auto;
  padding: 1rem ;
  letter-spacing: 1px;
  font-weight: 500;
  color: white;
  transition: all .5s ease-in-out;
  font-family:tt2;

}

.statsHP H4{
  text-align: center;
  color: white;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 3rem;
  padding-top: 1rem;
  transition: all .5s ease-in-out;
}

.hp:hover > .statsHP{
  opacity: 1;
  display: inline-block;
  transition: all .5s ease-in-out;

}

.hp:hover {
  border: 4px groove rgb(0, 255, 242);
  color: rgb(0, 255, 213);
  transition: all .5s ease-in-out;
  box-shadow: 0 0 5px #03e8f4cc, 0 0 25px #03f4d4da, 0 0 50px #03f4e8c7, 0 0 200px #03f4e041;
}

.ss:hover {
  border: 4px groove rgb(0, 255, 242);
  filter: drop-shadow(0 0 3px rgb(0, 255, 213)) ;
  transition: all .5s ease-in-out;
}


.ss:hover > .valor {
  color: black;
  font-size: 3.6rem;
  filter: drop-shadow(0 0 1px rgb(172, 255, 216)) ;
  transition: all .5s ease-in-out;

}



/* velociadad */

.statsVelocidad, .statsFuerza{
  position: absolute;
  left: 4.5rem;
  top: 6.5rem;
  opacity: 0;
  transition: all .5s ease-in-out;
  border: 4px groove rgb(137, 252, 194);
  width: 25rem;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.815);
  display: none;
  transition: all .5s ease-in-out;

}

.statsVelocidad p, .statsFuerza p{
  font-size: 1.8rem;
  text-align: inherit;
  width: 100%;
  height: auto;
  padding: 1rem ;
  letter-spacing: 1px;
  font-weight: 500;
  color: white;
  transition: all .5s ease-in-out;
  font-family:tt2;
}

.statsVelocidad h4, .statsFuerza h4{
  text-align: center;
  color: white;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 3rem;
  padding-top: 1rem;
  transition: all .5s ease-in-out;

}

.velocidad:hover > .statsVelocidad{
  opacity: 1;
  display: inline-block;
  transition: all .5s ease-in-out;

}

.fuerza:hover > .statsFuerza{
  opacity: 1;
  transition: all 1s ease-in-out;
  display: inline-block;
}

.velocidad:hover {
  border: 4px groove rgb(0, 255, 242);
  color: rgb(0, 255, 213);
  transition: all .5s ease-in-out;
  box-shadow: 0 0 5px #03e8f4cc, 0 0 25px #03f4d4da, 0 0 50px #03f4e8c7, 0 0 200px #03f4e041;
}

.fuerza:hover {
  border: 4px groove rgb(0, 255, 242);
  color: rgb(0, 255, 213);
  transition: all .5s ease-in-out;
  box-shadow: 0 0 5px #03e8f4cc, 0 0 25px #03f4d4da, 0 0 50px #03f4e8c7, 0 0 200px #03f4e041;
}




@keyframes statsAnimate {
  0%{
  box-shadow:none;

  }

  50%{
    box-shadow: 0 0 5px #03e9f4, 0 0 15px #03f4d4, 0 0 30px #03f4e8, 0 0 100px #03f4e0;
    border: 3px outset #fffdfd;
  }

  100%{
    box-shadow: none;
  }
}



/* BUTTON BUY */
.buttonBuyContainer{
  position: relative;
  width: 100vw;
  height: 10rem;
  top: 40.5rem;
  z-index: 100;
  
}

.buy{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 110;
  cursor: pointer;

}

.buttonBuy {
  font-size: 3.5rem;
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  width: 15rem;
  color: #03f4e0;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: -2px;
  overflow: hidden;
  font-weight: bold;
  border-radius: 15px;
  filter: drop-shadow(0 0 5px black);
  z-index: 110;
  user-select: none;
}
.buttonBuy:hover {
  background: #03e9f4;
  color: #050801;
  border-radius: 15%;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03f4d4, 0 0 50px #03f4e8, 0 0 150px #03f4e0;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.buttonBuy span {
  position: absolute;
  display: block;
}
.buttonBuy span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, rgb(0, 255, 213));
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.buttonBuy span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgb(0, 255, 213));
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.buttonBuy span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, transparent, rgb(0, 255, 213));
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
.buttonBuy span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, rgb(0, 255, 213));
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}


.blur{
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 30rem;
  height: 50rem;
  background-color: rgb(0, 0, 0);
  opacity: .2;
  border-radius: 60px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03f4d4, 0 0 50px #03f4e8, 0 0 200px #03f4e0;
  filter: drop-shadow(0 0 50px rgb(0, 0, 0)) blur(25px) brightness(160%);
}



/* popup Buy */
.containerPopup{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  z-index: 100;
  top: -10rem;
}

.popupBuy{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.836);
  width: 65rem;
  z-index: 5000;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 2px #000000, 0 0 15px #03f4d4dc, 0 0 30px #03f4e8a8, 0 0 100px #03f4e0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 1.5rem;
  user-select: none;
}

.titlePopup h2{
  line-height: 5rem;
  font-size: 3.3rem;
  padding: 2rem;
  letter-spacing: -6px;
  font-weight: bold;
  color: rgb(129, 252, 225);
}

.buttonsCheck{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  gap: 8rem;
  position: relative;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);

}

.configButton .buttonBuy{
  font-size: 3rem;
  width: 15rem;
  background-color: rgba(0, 0, 0, 0.966);
  color: rgb(82, 255, 203);
  cursor: pointer;

}



/* media querys */

@media (max-width: 1400px){

/* container 1 title */

  .titleButtons{
    padding-bottom: 8rem;
  }

  .title p{
    font-size: 10rem;
    top: 35%;
  }


  /* characters */


  .character1 img{
    width:17vw;
    margin-top: 12rem;
  }

  .character2 img{
    width: 37vw;
    margin-top: 12rem;
  }

  .character3 img{
    width: 37vw;
    margin-top: 13rem;
  }

  .character4 img{
    width: 38vw;
    margin-top: 13rem;
  }
  .character5 img{
    width: 24.5vw;
    margin-top: 13.5rem;
  }
  .character6 img{
    width: 11.5vw;
    margin-top: 13.5rem;
  }
  .character7 img{
    width: 37.5vw;
    margin-top: 13rem;
    margin-left: -2rem;

  }
  .character8 img{
    width: 30.5vw;
    margin-top: 11rem;
  }
  .character9 img{
    width: 29vw;
    margin-top: 12rem;
  }

  /* button buy */
  .buttonBuyContainer{
    top: 27.5rem;
  }
  
  /* stats */
  .stats{
    width: 20%;
  }
  
  
  .ss{
    width: 8rem;
    height: 8rem;
  }

  .valor{
    font-size: 2.5rem;
  }

  .ss:hover > .valor {
    font-size: 3rem;
  }
  
}



@media (max-width: 1082px){

  .nav-menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    background-size: cover;
    position: fixed;
    top: -.9rem;
    width: 100%;
    padding: 0px 0;
    height: 100vh;
    right: 100%;
    overflow-y: auto;
    transition: right 0.5s;
    filter:contrast(105%);
    background-color: #000000;
  }
  
  .nav-menu_visible {
    right: 0%;
  }

  .nav-menu-item {
    line-height: 80px;          
  }
  .nav-menu-item a{
    font-size: 3.5rem;
  }
  .nav-menu-item a{
    color: #7dd18b;
    background-color: #0000003d;
    box-shadow: 0 0 .5rem rgba(179, 255, 179, 0.486);
    border: none;
    transition: all .4s ease-in-out;
}

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
  }

  .nav-toggle {
    display: block;
    margin-top: 1rem;
    color: #7dd18b;
    background-color: #0000003d;
    box-shadow: 0 0 .5rem rgba(179, 255, 179, 0.486);
    border: none;
    transition: all .4s ease-in-out;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }

  .fa-bars{
    color: rgb(250, 238, 215);
    font-size: 3.9rem;
  }

}



@media (min-width: 772px) {
  .wrapper .buttons .button {
    font-size: 6rem;
  }

  .wrapper .slider .slide img {
    max-width: calc(100% - 14rem);
  }
}

@media screen and (max-width:480px) {
  

  
  /* FILTRO PELICULA */
  .container{
    display: none;
  }

  /* CONTAINER 1  */


  .containerVideoAlien video{
    position: absolute;
    width: 190vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    right: 0%;
    object-fit: cover;
    z-index: 100;
    filter:  contrast(120%) brightness(90%) hue-rotate(40deg);
  }

  .containerVideoAlien::after{
    content: "";
    position: absolute;
    bottom: -6vw;
    background-color: #000000;
    background: #000000;
    height: 15vh;
    filter: blur(2rem);
    width: 100vw;
    z-index: 100;

  }


  .titleButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4rem;
    position: relative;
    height: 100vh;
    padding-bottom: 28rem;
    margin-right: 43%;
  }

  .title p{
    font-size: 6rem;
    top: 25%;
  }


}